[submodule "composer-v1-facade"]
	path = composer-v1-facade
	url = https://github.com/Lawrence-M-Reynolds/composer-v1-facade.git
[submodule "composer-v1-composition-service"]
	path = composer-v1-composition-service
	url = https://github.com/Lawrence-M-Reynolds/composer-v1-composition-service.git
[submodule "composer-v1-composer-util"]
	path = composer-v1-composer-util
	url = https://github.com/Lawrence-M-Reynolds/composer-v1-composer-util.git
[submodule "composer-v1-composer-api"]
	path = composer-v1-composer-api
	url = https://github.com/Lawrence-M-Reynolds/composer-v1-composer-api.git
[submodule "composer-v1-generator-service"]
	path = composer-v1-generator-service
	url = https://github.com/Lawrence-M-Reynolds/composer-v1-generator-service.git
[submodule "composer-v1-evaluator-service"]
	path = composer-v1-evaluator-service
	url = https://github.com/Lawrence-M-Reynolds/composer-v1-evaluator-service.git
